$mobile-width: 768px;
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin font-mix($font-size) {
    font-size: $font-size;
    line-height: $font-size * 1.618;
}

@mixin button($bg, $color) {
    background: $bg;
    color: $color;
    height: 50px;
    position: relative;
    text-decoration: none;
    padding: .7em 2.5em;
    border-radius: 1.5em;
    line-height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 200ms ease-in-out;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }
}

@mixin card {
    border-radius: 5px;
    background: white;
    padding: 2em;
}