// Color Variables
// City Connect Blue's
$city-blue-100: #3B92E1;
$city-blue-200: #0267C1;
$city-blue-300: #17529F;
//City Connect Green's
$city-green-100: #93DB27;
$city-green-200: #76C91C;
$city-green-300: #60A616;
//Text Colors
$city-text-100: #787F87;
$city-text-200: #39434F;
// Fonts
$city-font: 'Exo 2',
sans-serif;